:root {
    --bg-color: #fff;
    --error-color: red;
    --success-color: rgb(9, 187, 9);
    --label-color: rgb(156, 152, 152);
    --text-color: black;

    --border-radius: 0px 2px 10px rgb(214, 211, 211);
}


body {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.signUP > form {
    width: 100%;
}


.signUP {
    width: 100%;
    max-width: 400px;
    /* background-color: antiquewhite; */
    box-sizing: border-box;
    box-shadow: var(--border-radius);
    padding: 20px 30px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h2 {
    color: var(--text-color);
    text-align: center;
}

.signUP > form > .form-field-div {
    margin: 0px 0px 20px 0px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.signUP > form > .form-field-div > label {
    color: var(--label-color);
    font-size: 20px;
    margin: 0px 0px 5px 0px;
}

.signUP > form > .form-field-div > input {
    border: 1px solid #d6d4d4;
    border-radius: 5px;
    padding: 15px;
    outline: none;

}

.signUP > form > .form-field-div > input:focus {
    border: 2px solid #5d55cf;
}

.signUP > form > .form-field-div > input::placeholder {
    color: #d6d6d6;
}

.signUP > form > .form-field-div > small {
    margin: 10px 0px 0px 0px;
    color: var(--error-color);
}


button {
    width: 100%;
    border: none;
    padding: 10px 0px;
    background-color: rgb(27, 27, 131);
    color: var(--bg-color);
}

button:hover {
    background-color: rgb(41, 41, 192);
    cursor: pointer;
}





/* ----------------  */

.error {
    color: var(--error-color);
}

.success {
    color: var(--success-color);
}