:root {
    --bg-color: #fff;
    --title-color: rgb(56, 56, 126);
    --price-color: rgb(207, 82, 10);
    --desc-color: rgb(121, 110, 110);
    --img-border-color: rgb(245, 233, 61);
    --btn-border-color: orange;
}

.section-container {
    width: 100%;
    max-width: 1000px;

    border: 1px solid red;
}

p {
    color: var(--desc-color);
    text-align: justify;
}


body {
    background-color: var(--bg-color);

    display: flex;
    justify-content: center;
}

.menu-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.title {
   
}

.menu-section > .title {
    color: var(--title-color);
    margin: 20px 0px 60px 0px;
    font-size: 40px;

    position: relative;
}

.menu-section > .title::before {
    content: "";
    width: 80px;
    height: 5px;
    background-color: red;
    
    position: absolute;
    bottom: -10px;
    left: calc(50% - 40px);
}


.btn-container > button {
    border: 2px solid var(--btn-border-color);
    background-color: var(--bg-color);
    color: var(--btn-border-color);
    padding: 10px 20px;
    border-radius: 10px;

    margin: 0px 20px;
    transition: border 0.25s ease-in-out , color 0.25s ease-in-out;

}

.btn-container > button:hover {
    border: 2px solid var(--price-color);
    color: var(--price-color);
    cursor: pointer
}

.menuContainer {
    margin: 80px 0px 0px 0px;
    width: 100%;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.menuContainer > .menuWrapper {
    width: calc(100% / 2);
    /* background-color: rgb(194, 215, 233); */

    box-sizing: border-box;
    padding: 15px;
}


.menuContainer .menuCard {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid blue;
    padding: 5px;

    display: flex;
    justify-content: flex-start;
}

.menuContainer .menuCard > .img-container {
    width: 35%;
    height: 150px;
    border: 2px solid var(--img-border-color);

    border-radius: 10px;
    overflow: hidden;
}


.menuContainer .menuCard > .img-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.menuCard .content-container .titleDiv {
    border-bottom: 2px solid rgb(223, 223, 223);
    padding: 0px 0px 10px 0px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuCard .content-container .titleDiv > .title {
    color: var(--title-color);
    margin: 0px;
}

.menuCard .content-container .titleDiv > .price {
    color: var(--price-color)
}

.menuContainer .menuCard > .content-container {
    width: 65%;
    margin: 0px 0px 0px 10px;
}