:root {
    --bg-color: rgb(207, 207, 247);

    --tab-bg-color: rgb(248, 236, 236);
    --tab-border-color: blue;
    
    --text-color: rgb(53, 53, 109);
    --border-radius: 10px;

    --content-bg-color: #fff;

}

.section-container {
    width: 100%;
    max-width: 1000px;
}


/* --------------------------------------- */


body {
    background-color: var(--bg-color);
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs-wrapper {
    width: 100%;

    display: flex;
    justify-content: center;
}

.tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.tabs .img-container , .btn-content-container {
    width: 50%;
}

.tabs .img-container {
    height: 300px;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.tabs .img-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tabs .btn-content-container {
    margin: 0px 0px 0px 20px;
    overflow: hidden;

    border-radius: var(--border-radius);
    background-color: var(--content-bg-color);
}

.tabs .btn-content-container > .btn-container {
    display: flex;
    flex-direction: row;
}

.tabs .btn-content-container > .btn-container > button {
    border: none;
    padding: 0px;
    background-color: var(--tab-bg-color);
    color: var(--text-color);
    padding: 10px 20px;

    flex:1;
}

.tabs .btn-content-container > .btn-container > button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.tabs .btn-content-container .content {
    padding: 0px 20px;
    color: var(--text-color);

    display: none;
}


.tabs .btn-content-container .btn-container .active-tab {
    background-color: var(--content-bg-color);
    color: var(--bg-color);
}

.tabs .btn-content-container .active-content {
    display: block;
}
